@model ICollection<Memory>
@{
    ViewData["Title"] = "Memory";
}

<h1>Memory</h1>
@foreach  (var memory in Model)
{
    <div>
        <h2>authorid: @memory.AuthorID</h2>
        <p>desc: @memory.Description</p>
        <p>date: @memory.Date</p>
    </div>
}

